.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 15vw;
  max-height: 150px;
  position: relative;
  padding: 10px;
}

.App-image1{
  height: 9.85vw;
  align-content: center;
  padding-bottom: 45px;
  padding-right: 5px;
}

.App-image2{
  height: 9.85vw;
  align-content: center;
  padding-bottom: 45px;
  padding-right: 5px;
}

.App-image3{
  height: 9.85vw;
  align-content: center;
  padding-bottom: 45px;
  padding-right: 5px;
}

.App-header {
  background-color: #222;
  height: 18vw;  
  max-height: 175px;
  padding: 3px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
